html {
    font-size: 20px;
    font-family: 'Amatic SC', cursive;
    background-color: #193c47
}

h1 {
    font-size: 60px;
    text-align: center;
}

p,
li {
    font-size: 20px;
    line-height: 2;
    letter-spacing: 1px;
}